body {
    background-color: rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(235, 235, 235);
    box-sizing: border-box;
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 2;
}

.text h1, h2, h3, .text p{
    margin-left: 5vw;
    margin-right: 5vw;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    margin-top: 5%;
    margin-bottom: 3%;
}

a {
    color: rgb(235, 235, 235);
}


/*Navbar*/
.navbar {
    overflow: hidden;
    background-color: rgb(0,157,196);
}

.navbar a {
    float: left;
    display: block;
    color: rgb(235, 235, 235);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*.navbar [type=media], .navbar [type=contact] {
    display: none;
}*/



/*Innhold*/
.dam {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.UN {
    margin-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*Responsive*/
@media screen and (min-width: 1200px) {
    .text h1, h2, h3, .text p{
        margin-left: 20vw;
        margin-right: 20vw;
    }
    
    .footer a, .contact {
        font-size: 2vh;
    }

    .footer [type=media] {
        padding-top: 1.4vw;
    }

    .dam {
        width: 100%;
        height: auto;
    }

    .UN {
        width: 70%;
        height: auto;
        margin-left: 15%;
    }

    .navbar a {
        font-size: 1.5vw;
        padding: 1vw 1.5vw;
    } 

    .text, .text p {
        font-size: 2.7vh;
    }

    h1, h2, h3 {
        font-size: 2.7vw;
    }
}

@media screen and (max-width: 1200px) {
    .text, .text p {
        font-size: 2.7vh;
    }

    h1, h2, h3 {
        font-size: 3.4vw;
    }
    
    .UN {
        width: 70%;
        height: auto;
        margin-left: 15%;
    } 
}

@media screen and (max-width: 915px) {
    h1, h2, h3 {
        font-size: 4vw;
    }
    
    .footer a {
        width: 90%;
        text-align: center;
    }

    .footer {
        font-size: 2.7vw;
    }

    .contact {
        width: 100%;
        text-align: center;
        margin-top: 2%;
    }   
}

@media screen and (max-width: 778px) {
    .text, .text p {
        font-size: 2.7vh;
    }

    h1, h2, h3 {
<<<<<<< HEAD
        font-size: 4vw;
=======
        font-size: 3.5vw;
>>>>>>> b4d2e710fedea7e1e4bde624b33b9ffaad8d77cd
    }

    .footer a {
        width: 83%;
    }

    .footer {
        font-size: 3vw;
    }

    .link {
        font-size: 2vw;
    }

    .UN {
        width: 70%;
        height: auto;
        margin-left: 15%;
    }

    .navbar {
        font-size: 16px;
    } 

}

@media screen and (max-width: 600px) {
    h1, h2, h3 {
        font-size: 4vw;
    }

    .footer a {
        width: 83%;
    }

    .footer {
        font-size: 4.5vw;
    }

    .dam {
        width: 100%;
        height: auto;
    }

    .UN {
        width: 90%;
        height: auto;
        margin-left: 5%;
    }
}

@media screen and (max-width: 414px) {
    .text, .text p {
        font-size: 2.4vh;
    }

    h1, h2, h3 {
<<<<<<< HEAD
        font-size: 4.5vw;
=======
        font-size: 5vw;
>>>>>>> b4d2e710fedea7e1e4bde624b33b9ffaad8d77cd
    }
}


/*Footer*/
.footer {
    overflow: hidden;
    background-color: rgb(0,157,196);
}

.footer a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 2%;
}

.contact {
    float: right;
    margin-right: 3%;
}

.footer a:hover, .navbar a:hover {
    background-color: rgb(0, 108, 134);
}
